{% extends 'base.html' %}
{% load static %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
    <div class="inici-container">
        <h1>Inici de Sessió</h1>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br>
            <input type="submit" value="Login">
        </form>
    </div>
{% endblock %}