{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="stylesheet" href="{% static 'register.css' %}">
</head>
<header>
        <h1>Car Renting</h1>
</header>
<body>
    <div class="container">
        <h1>Register</h1>
        <form action="{% url 'register' %}" method="post">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username"><br>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email"><br>
            {% csrf_token %}
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br>
            {% csrf_token %}
            <label for="password2">Repeat password:</label><br>
            <input type="password" id="password2" name="password2"><br>
             <button type="submit">Register</button>
        </form>
    </div>
</body>
    

    <footer>
        <p>© 2024 My Company. All rights reserved.</p>
        <p>Contact: info@mycompany.com | Phone: 123-456-7890</p>
    </footer>
</body>
</html>




