:root {
    --primary-color: #333; /* Color primario para fondo oscuro */
    --secondary-color: #fff; /* Color secundario para texto sobre fondo oscuro */
    --button-color: #007bff; /* Color de botones */
    --button-hover-color: #0056b3; /* Color de botones al pasar el ratón */
    --container-background: #f9f9f9; /* Color de fondo de contenedores */
    --border-color: #ccc; /* Color de bordes */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.container {
    max-width: 600px;
    margin: 20px auto; /* Ajuste para espacio superior e inferior */
    padding: 20px;
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas pequeñas */
    gap: 20px; /* Espacio entre elementos */
}

.car-details, .concessionaire-info {
    flex-basis: calc(50% - 10px); /* Uso de flexbox para disposición */
    padding-right: 20px;
}

.car-details p, .concessionaire-info p {
    margin: 10px 0;
    font-size: 16px;
}

.form-container {
    max-width: 400px; /* Ajuste de ancho máximo */
    margin: 50px auto 100px;
    padding: 30px;
    border: 2px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--container-background);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container button {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-size: 16px;
}

.form-container button {
    background-color: var(--button-color);
    color: var(--secondary-color);
    cursor: pointer;
    font-size: 18px;
    border: none;
}

.form-container button:hover {
    background-color: var(--button-hover-color);
}

.form-container p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
}
