h1 {
    margin-top: 300px;
}

.car-container {
    margin-top: 20px;
    text-align: center; /* Centrar la tabla */
}

table {
    width: 70%; /* Reducir el ancho de la tabla */
    margin: 0 auto; /* Centrar la tabla horizontalmente */
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 8px 10px; /* Reducir el padding de las celdas */
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

a {
    display: inline-block; /* Convertir el enlace en un bloque */
    padding: 8px 16px;
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

.button-cell {
    text-align: left; /* Alinear los botones a la izquierda */
}

.button {
    text-align: center;
    display: inline-block;
    padding: 8px 16px;
    width: auto; /* Ancho automático */
    min-width: 200px; /* Ancho mínimo del botón */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 400; /* Tamaño de la letra más pequeño */
    font-size: 13px;
}

.button:hover {
    background-color: #0056b3;
}
