h1 {
    margin-top: 300px;
}

.contact-container {
    display: flex;
}

.contact-info {
    flex: 1;
    background-color: white; /* Fondo blanco para el texto */
    padding: 20px; /* Añade un espacio alrededor del contenido */
}

.contact-image {
    flex: 1;
    background-color: #242526; /* Color de fondo para la imagen (opcional) */
    padding: 20px; /* Añade un espacio alrededor de la imagen */
    display: flex;
    justify-content: center; /* Centra la imagen horizontalmente */
    align-items: center; /* Centra la imagen verticalmente */
}

.contact-image img {
    max-width: 100%; /* La imagen ocupará todo el ancho disponible en su contenedor */
    max-height: 100vh; /* La imagen ocupará el 100% de la altura de la ventana del navegador */
}
