h1{
    margin-top: 380px;
}
.dealer-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dealer-card {
    list-style-type: none;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: calc(33.33% - 20px);
    max-width: 300px; /* Ancho máximo para evitar que las tarjetas se estiren demasiado */
}

li{
    font-weight: 400;
}
.button {
    display: inline-block;
    padding: 3px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
    background-color: #0056b3;
}
