h1 {
    text-align: center;
    margin-bottom: 20px;
}

.inici-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    /* Mantén tu estilo actual */
    text-align: center;
}


form input[type="text"],
form input[type="password"],
form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

form input[type="submit"] {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border: none;
}

form input[type="submit"]:hover {
    background-color: #555;
}

.error-message {
    color: #ff0000;
    margin-top: 10px;
}