{% extends 'base.html' %}
{% load static %}

{% block title %}
    Sobre nosaltres
{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'aboutUs.css' %}">
    <h1>Sobre nosaltres</h1>
    <section class="text_about_us">
        <p>La nostra empresa, ubicada a la comarca de Lleida, té com a objectiu principal simplificar la cerca de vehicles per llogar per als nostres usuaris. Volem proporcionar una experiència de cerca senzilla i eficient, garantint que en només 5 minuts els nostres clients puguin trobar el cotxe perfecte al millor preu possible.</p>
        <p>Amb aquest sistema, volem eliminar la complexitat i la frustració associades amb la cerca de vehicles de lloguer, oferint una solució ràpida, convenient i transparent per a tots els nostres clients. La nostra prioritat és garantir que cada usuari trobi el cotxe ideal per a les seves necessitats de viatge, sense complicacions ni malentesos.</p>
    </section>
{% endblock %}