{% extends 'base.html' %}
{% load static %}

{% block title %}
    Sobre nosaltres
{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'aboutUs.css' %}">
    <h1>Sobre nosaltres</h1>
    <section>
        <p>Som una empresa de la comarca de lleida que busquen facilitar la busqueda als usuaris de vehicles per alquilar</p>
        <p>La forma de busqueda es molt senzilla, on en 5 minuts es pot aconseguir el millor cotxe al millor preu </p>
        <p>Només farà falta seleccionar el concessionari i cotxe que mes agradi i seleccionar l'horari de recollida i tornada</p>
    </section>
{% endblock %}