{% extends 'base.html' %}
{% load static %}

{% block title %}
    Alquilar cotxe
{% endblock %}


{% block content %}
        <link rel="stylesheet" type="text/css" href="{% static 'car_selection.css' %}">
        <h1>Llogar '{{ car.name }}'</h1>
        <div class="details-wrapper">
            <div class="details-container">
                <h2>Detalle del Coche</h2>
                <div class="details-content">
                    <p><strong>Nombre:</strong> {{ car.name }}</p>
                    <p><strong>Matrícula: </strong>{{ car.licensePlate }}</p>
                    <p><strong>Modelo: </strong> {{ car.model }}</p>
                    <p><strong>Marca: </strong> {{ car.brand }}</p>
                    <p><strong>Kilometraje: </strong> {{ car.mileage }}</p>
                </div>
            </div>
            <div class="details-container">
                <h2>Informació del concessionari</h2>
                <div class="details-content">
                    <p><strong>Business name:</strong> {{ dealer.NIF_bussines.name }}</p>
                    <p><strong>ID:</strong> {{ dealer.id_authorisedDealer }}</p>
                    <p><strong>Location:</strong> {{ dealer.location }}</p>
                    <p><strong>Schedule:</strong> {{ dealer.schedule }}</p>
                </div>
            </div>
        </div>


       <div class="form-container">
            <h2 class="h2-title-form"> Formulari per alquilar</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Reservar</button>
            </form>
        </div>
{% endblock %}
