{% extends 'base.html' %}
{% load static %}

{% block title %}
    Editar Reserva
{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'editar_reserva.css' %}">
    <h1>Editar Reserva</h1>
    <!-- Mostrar mensajes de error -->

    <div class="dealer-card-container">
        <div class="dealer-card">
            <div class="form-container">
                <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="button">Guardar canvis</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
