<!DOCTYPE html>
<html lang="en">
<head>
    {%  load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'homePage.css' %}">

    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <div class="container">
        <h1>Car Renting</h1>
        <p>Please select an option:</p>
        <a href="/register/" class="btn">Register</a>
        <a href="/login/" class="btn">Log In</a>
        <a href="/choose-car/" class="btn">Choose Car</a>
    </div>
    <h1>Llistat de concessionaris</h1>
    <ul>
        {% for dealer in authorisedDealers %}
            <li>{{ dealer.id_authorisedDealer }} - {{ dealer.location }} - {{ dealer.schedule }}</li>
        {% endfor %}
    </ul>
</body>
</html>