{% extends 'base.html' %}
{% load static %}

{% block title %}
    Afegir nou cotxe
{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'mis_reservas.css' %}">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    <h1>Les Meves Reserves</h1>
        <div class="dealer-card-container">
            {% for reserva in reservas %}
            <ul class="dealer-card">
                <li>Data d'entrada: {{ reserva.fecha_entrada }}</li>
                <li>Data de sortida: {{ reserva.fecha_salida }}</li>
                <li>Nom del Client: {{ reserva.nombre_cliente }}</li>
                <li>Telf. del Client: {{ reserva.telefono_cliente }}</li>
                <li>Correu del Client: {{ reserva.correo_cliente }}</li>
                <!-- Información del coche -->
                <li>Cotxe Llogat: {{ reserva.car_rented.name }}</li>
                <li>Matrícula: {{ reserva.car_rented.licensePlate }}</li>
                <li>Marca: {{ reserva.car_rented.brand }}</li>
                <li>Model: {{ reserva.car_rented.model }}</li>
                <li>Quilometratge: {{ reserva.car_rented.mileage }}</li>
                <a href="{% url 'editar_reserva' reserva.id %}" class="button1">Editar Reserva</a>
                <!-- Botón para eliminar la reserva -->
                <a href="{% url 'eliminar_reserva' reserva.id %}" class="button2">Eliminar Reserva</a>
            </ul>
            {% endfor %}
        </div>
{% endblock %}