{% extends 'base.html' %}
{% load static %}

{% block title %}
    Afegir nou cotxe
{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'mis_reservas.css' %}">
    <span vocab="http://schema.org/">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    <h1>Les Meves Reserves</h1>
        <div class="dealer-card-container">
            {% for reserva in reservas %}
            <ul class="dealer-card">
                <div typeof="schema:RentalCarReservation">
                <li>Data d'entrada: <span property="schema:pickupTime">{{ reserva.fecha_entrada }}</span> </li>
                <li>Data de sortida: <span property="schema:dropoffTime">{{ reserva.fecha_salida }}</span></li>
                <li>Nom del Client: <span property="schema:name">{{ reserva.nombre_cliente }}</span></li>
                <li>Telf. del Client: <span property="schema:additionalType">{{ reserva.telefono_cliente }}</span></li>
                    <li>Correu del Client: <span property="schema:additionalType"> {{ reserva.correo_cliente }}</span></li>
                <li>Cotxe Llogat:<span property="schema:reservationFor">{{ reserva.car_rented.name }}</span> </li>
                </div>
                <!-- Información del coche -->
                <div typeof="schema:Car">
                <li>Matrícula: <span property="schema:identifier">{{ reserva.car_rented.licensePlate }}</span></li>
                    <li>Marca: <span property="schema:slogan">{{ reserva.car_rented.brand }}</span></li>
                <li>Model: <span property="schema:model">{{ reserva.car_rented.model }}</span></li>
                    <li>Quilometratge: <span property="mileageFromOdometer">{{ reserva.car_rented.mileage }}</span></li>
                <a href="{% url 'editar_reserva' reserva.id %}" class="button1">Editar Reserva</a>
                <!-- Botón para eliminar la reserva -->
                <a href="{% url 'eliminar_reserva' reserva.id %}" class="button2">Eliminar Reserva</a>
                </div>
            </ul>
            {% endfor %}
        </div>
    </span>
{% endblock %}